---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";

// Icons
import Heart from "@/components/fundations/icons/Heart.astro";
import Search from "@/components/fundations/icons/Search.astro";
import Lock from "@/components/fundations/icons/Lock.astro";
import Analytics from "@/components/fundations/icons/Analytics.astro";
import Brain from "@/components/fundations/icons/Brain.astro";
import Mail from "@/components/fundations/icons/Mail.astro";
import Apps from "@/components/fundations/icons/Apps.astro";
import UsersGroup from "@/components/fundations/icons/UsersGroup.astro";
import Code from "@/components/fundations/icons/Code.astro";
import User from "@/components/fundations/icons/User.astro";
import Widget from "@/components/fundations/icons/TemplateLayout.astro";
import Bell from "@/components/fundations/icons/News.astro";

const feedbackFeatures = [
  {
    title: "Upvoting ideas",
    description: "Empower users to prioritize what matters most.",
    icon: Heart,
  },
  {
    title: "Semantic Deduplication",
    description: "`Ctrl+F` for feature requests, automatically.",
    icon: Search,
  },
  {
    title: "Private Ideas",
    description: "For internal dogfooding or VIP customers.",
    icon: Lock,
  },
  {
    title: "Discussion & Comments",
    description: "Dive deeper into user needs with threaded discussions.",
    icon: UsersGroup,
  },
  {
    title: "Embeddable Widget",
    description: "Collect feedback where your users already are.",
    icon: Code,
  },
  {
    title: "Anonymous Posting",
    description: "Remove friction by allowing feedback without an account.",
    icon: User,
  },
];

const roadmapFeatures = [
  {
    title: "Vote Visibility",
    description: "Show stakeholders why you're building X instead of Y.",
    icon: Analytics,
  },
  {
    title: "Roadmap Widget",
    description: "Embed your roadmap directly where your users are.",
    icon: Widget,
  },
  {
    title: "Automated Notifications",
    description: "Alert users automatically when status changes occur.",
    icon: Bell,
  },
];

const changelogFeatures = [
  {
    title: "Auto-drafting",
    description: "We parse your shipped features and write the update.",
    icon: Brain,
  },
  {
    title: "Notifications",
    description: "We email everyone who voted for the thing you just shipped.",
    icon: Mail,
  },
  {
    title: "In-app Widget",
    description: `Users see the "New" badge and actually read what changed.`,
    icon: Apps,
  },
];
---

<!-- Feedback Boards -->
<section>
  <Wrapper variant="standard" class="pt-40 pb-4 border-t">
    <div class="max-w-xl text-balance">
      <Text
        tag="h2"
        variant="displaySM"
        class="font-serif font-medium tracking-tight text-black"
      >
        Beautiful feedback boards that capture ideas
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500">
        Harness the power of customer feedback to improve your product. Gather
        ideas from your users and watch as the most popular and discussed
        suggestions rise to the top.
      </Text>
    </div>
    <div class="items-center mt-8 grid grid-cols-1 md:grid-cols-3 gap-2">
      {
        feedbackFeatures.map((feature) => {
          const Icon = feature.icon;
          return (
            <div class="flex flex-col h-full p-4 bg-sand-100 rounded-xl group hover:bg-white hover:shadow-2xl duration-300 outline-transparent hover:outline hover:outline-sand-100 ">
              <div class="inline-flex p-4 bg-white rounded-lg group-hover:bg-sand-100 duration-300 group-hover:-rotate-12 group-hover:-translate-y-2 w-fit">
                <Icon size="base" class=" text-accent-500" />
              </div>
              <Text
                tag="h3"
                variant="textSM"
                class="mt-12 font-medium text-base-900"
              >
                {feature.title}
              </Text>
              <Text tag="p" variant="textSM" class="mt-2 text-base-500">
                {feature.description}
              </Text>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</section>

<!-- Roadmap -->
<section>
  <Wrapper variant="standard" class="pt-40 pb-4 border-t">
    <div class="max-w-xl text-balance">
      <Text
        tag="h2"
        variant="displaySM"
        class="font-serif font-medium tracking-tight text-black"
      >
        Build a public roadmap
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500">
        Transform customer feedback into a clear, visual roadmap so everyone
        knows what's coming next.
      </Text>
    </div>
    <div class="items-center mt-8 grid grid-cols-1 md:grid-cols-3 gap-2">
      {
        roadmapFeatures.map((feature) => {
          const Icon = feature.icon;
          return (
            <div class="flex flex-col h-full p-4 bg-sand-100 rounded-xl group hover:bg-white hover:shadow-2xl duration-300 outline-transparent hover:outline hover:outline-sand-100 ">
              <div class="inline-flex p-4 bg-white rounded-lg group-hover:bg-sand-100 duration-300 group-hover:-rotate-12 group-hover:-translate-y-2 w-fit">
                <Icon size="base" class=" text-accent-500 size-5" />
              </div>
              <Text
                tag="h3"
                variant="textSM"
                class="mt-12 font-medium text-base-900"
              >
                {feature.title}
              </Text>
              <Text tag="p" variant="textSM" class="mt-2 text-base-500">
                {feature.description}
              </Text>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</section>

<!-- Changelog -->
<section>
  <Wrapper variant="standard" class="pt-40 pb-4 border-t">
    <div class="max-w-xl text-balance">
      <Text
        tag="h2"
        variant="displaySM"
        class="font-serif font-medium tracking-tight text-black"
      >
        Announce your shipped features
      </Text>
      <Text tag="p" variant="textBase" class="mt-4 text-base-500">
        Don't let your hard work vanish into the void. Turn your shipped
        features into beautiful, engaging updates that show you’re constantly
        improving.
      </Text>
    </div>
    <div class="items-center mt-8 grid grid-cols-1 md:grid-cols-3 gap-2">
      {
        changelogFeatures.map((feature) => {
          const Icon = feature.icon;
          return (
            <div class="flex flex-col h-full p-4 bg-sand-100 rounded-xl group hover:bg-white hover:shadow-2xl duration-300 outline-transparent hover:outline hover:outline-sand-100 ">
              <div class="inline-flex p-4 bg-white rounded-lg group-hover:bg-sand-100 duration-300 group-hover:-rotate-12 group-hover:-translate-y-2 w-fit">
                <Icon size="base" class=" text-accent-500" />
              </div>
              <Text
                tag="h3"
                variant="textSM"
                class="mt-12 font-medium text-base-900"
              >
                {feature.title}
              </Text>
              <Text tag="p" variant="textSM" class="mt-2 text-base-500">
                {feature.description}
              </Text>
            </div>
          );
        })
      }
    </div>
  </Wrapper>
</section>
