---
export const description = "Pricing section with three tiers";

// Components
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Link from "@/components/fundations/elements/Link.astro";

// Icons
import Check from "@/components/fundations/icons/Check.astro";

const SIGNUP_URL = import.meta.env.PUBLIC_APP_URL + "/signup";

const pricingOptions = [
  {
    id: "start",
    cardClass: "bg-sand-50 ",
    primaryTextColor: "text-base-900",
    secondaryTextColor: "text-base-500",
    featuresBorderColor: "border-base-200",
    title: "Start",
    monthly: "$25",
    description: "Perfect for small teams.",
    button: {
      text: "Get started!",
      variant: "accent",
      href: SIGNUP_URL,
    },
    features: [
      { text: "Unlimited tracked users" },
      { text: "Unlimited idea submissions" },
      { text: "Unlimited admins" },
      { text: "Beautiful roadmap" },
      { text: "Beautiful changelog" },
    ],
  },
  {
    id: "pro",
    cardClass: "bg-sand-100",
    primaryTextColor: "text-base-900",
    secondaryTextColor: "text-base-500",
    featuresBorderColor: "border-base-200",
    title: "Pro",
    monthly: "$49",
    description: "Perfect for small teams.",
    button: {
      text: "Get started!",
      variant: "accent",
      href: SIGNUP_URL,
    },
    features: [
      { text: "Everything in Free" },
      // { text: "Private boards" },
      { text: "Custom domain" },
      { text: "White label" },
    ],
  },
  {
    id: "business",
    cardClass: "bg-sand-50 ",
    primaryTextColor: "text-base-900",
    secondaryTextColor: "text-base-500",
    featuresBorderColor: "border-base-200",
    title: "Business",
    monthly: "$99",
    description: "Perfect for larger teams.",
    button: {
      text: "Get started!",
      variant: "accent",
      href: SIGNUP_URL,
    },
    features: [
      { text: "Everything in Pro" },
      { text: "Automatic login" },
      // { text: "Integrations" },
    ],
  },
];
---

<section
  id="pricing-section"
  class="border-t border-base-200 border-dashed scroll-mt-24"
>
  <Wrapper variant="standard" class="pt-40 pb-4">
    <div class="text-center text-balance">
      <Text
        tag="h2"
        variant="displayMD"
        class="font-serif font-medium tracking-tight text-black"
      >
        Transparent pricing
      </Text>
      <Text
        tag="p"
        variant="textBase"
        class="max-w-xl mx-auto mt-4 text-base-500"
      >
        All plans include unlimited tracked users and unlimited idea
        submissions.
      </Text>
    </div>

    <!-- Pricing Cards -->
    <div class="mt-12 grid grid-cols-1 gap-4 md:grid-cols-3">
      {
        pricingOptions.map((tier) => (
          <div
            class={`flex flex-col h-full justify-between p-4 rounded-xl ${tier.cardClass}`}
          >
            <div class="flex flex-col">
              <Text
                tag="h3"
                variant="textBase"
                class={` font-medium text-base-900 ${tier.primaryTextColor}`}
              >
                {tier.title}
              </Text>
              <Text
                variant="displaySM"
                class={`font-medium flex items-baseline tracking-tighter mt-2 font-serif ${tier.primaryTextColor}`}
              >
                {tier.monthly}
                <span
                  class={`text-sm font-normal tracking-normal ${tier.secondaryTextColor}`}
                >
                  / mo
                </span>
              </Text>
              <Text
                tag="p"
                variant="textSM"
                class={`mt-2 ${tier.secondaryTextColor}`}
              >
                {tier.description}
              </Text>

              <div class={`mt-4 pt-4 border-t ${tier.featuresBorderColor}  `}>
                <ul
                  class={`flex flex-col mt-4 text-sm  gap-y-3 ${tier.primaryTextColor}`}
                  role="list"
                >
                  {tier.features.map((feature) => (
                    <li class="flex items-start gap-2">
                      <Check
                        size="sm"
                        class={`shrink-0 ${tier.secondaryTextColor}`}
                      />
                      <span>{feature.text}</span>
                    </li>
                  ))}
                </ul>
              </div>
            </div>
            <div class="w-full mt-8">
              <Link
                class="w-full"
                variant={tier.button.variant}
                size="sm"
                href={tier.button.href}
              >
                {tier.button.text}
              </Link>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
